<p-fieldset legend="Szczegóły przepisu" styleClass="dataContainer">
  <div class="recipeTitle">
    <h2>{{recipe.name}}</h2>
  </div>

  <div>
    <h3>Opis:</h3> <span [innerHTML]="recipe.description"></span>
  </div>
  <div class="details">
    <h3>Dodatkowe informacje</h3>
    <div>
      <h4>Liczba porcji:</h4> <span>{{recipe.portions}}</span>
    </div>
    <div>
      <h4>Czas przyrządzenia:</h4> <span>{{recipe.duration}}</span>
    </div>
    <div>
      <h4>Rodzaj:</h4> <span>{{recipe.recipeType.name}}</span>
    </div>
    <div>
      <h4>Poziom skomplikowania:</h4> <span>{{recipe.complexity | recipeComplexityName}}</span>
    </div>
    <div class="p-d-flex p-ai-center">
      <h4>Ocena:</h4>
      <p-rating [(ngModel)]="recipe.mark" [cancel]="false" readonly="true"></p-rating>
    </div>
  </div>
  <p-confirmDialog header="Potwierdź skasowanie przepisu" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  <button pButton type="button" icon="pi pi-trash" class="p-button-danger p-button-text" label="Skasuj przepis"
    (click)="delete()" *ngIf="userIsAuthor"></button>
</p-fieldset>
