.userLoginForm {
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;

  .detailsForm {
    span {
      margin-top: 15px;
      margin-bottom: 30px;

      input {
        width: 100%;
      }

    }
  }
}