<div class="userLoginForm">
  <p-fieldset legend="Logowanie" styleClass="dataContainer">
    <form [formGroup]="userLoginForm" class="detailsForm">
      <span class="p-float-label controlWithLabel">
        <input id="nameInput" type="text" formControlName="username" pInputText>
        <label for="nameInput">Nazwa użytkownika</label>
      </span>
      <span class="p-float-label controlWithLabel">
        <input id="passwordInput" type="password" formControlName="password" pInputText>
        <label for="passwordInput">Hasło</label>
      </span>
      <div class="p-d-flex p-jc-between">
        <button pButton pRipple type="button" label="Zarejestruj się" [routerLink]="'/register'"
          class="p-button-raised p-button-text p-button-lg"></button>
        <button pButton pRipple label="Zaloguj" type="submit" class="p-button-lg" (click)="login()"></button>
      </div>
    </form>
  </p-fieldset>
</div>
