::ng-deep {
  .recipesList {
    margin-top: 20px;
    margin-left: 10px;
  }
}

.header {
  h3 {
    margin: 0;
  }
}

@media screen and (max-width:767px) {
  ::ng-deep .sortOptions {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}