<div class="recipeGridItem">
  <div class="p-d-flex p-jc-between">
    <p><b>{{recipe.complexity | recipeComplexityName}}</b> </p>
    <p><b>{{getRecipeType(recipe.recipeType)}}</b> </p>
  </div>
  <div class="">
    <div *ngIf=recipe.images[0]>
      <img [src]="getImage(recipe.images[0])">
    </div>
  </div>
  <div class="">
    <h2>{{recipe.name}}</h2>
    <p><b>Czas trwania:</b> {{recipe.duration}} min</p>
    <p><b>Ocena:</b> {{recipe.mark}}</p>
  </div>
  <button pButton pRipple label="Zobacz" class="p-button-lg" [routerLink]="'/recipe/'+recipe.id"></button>
</div>
