.recipeDetailsForm {
  span {
    margin-bottom: 30px;
    margin-top: 10px;

    &.withoutMargin {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .floatingLabel {
    font-size: 12px;
    top: -0.2rem;
    margin-top: -.5rem;
    left: .5rem;
    position: relative;
    color: #6c757d;
  }

  .error {
    color: red;

    ::ng-deep .p-editor-container {
      border: 1px solid red;
      border-radius: 3px;
    }
  }

  ::ng-deep .p-slider {
    margin-top: 25px;
  }

  .durationTime {
    margin-top: 15px;
  }


  .complexityLevelsContainer {
    margin-top: 11px;
  }

  .durationTimeInputContainer {
    margin-top: 10px;
  }
}

@media screen and (max-width: 1200px) {
  ::ng-deep {
    .durationSlider {
      transform: translate(0, -25px);
    }
  }
}
