<p-fieldset legend="Szczegóły przepisu">
  <form [formGroup]="recipeDetailsForm" class="recipeDetailsForm  p-fluid">
    <span class="p-float-label">
      <input id="nameInput" type="text" formControlName="name" pInputText>
      <label for="nameInput">Nazwa</label>
    </span>
    <span class="p-float-label">
      <textarea id="shortDescriptionIput" type="text" formControlName="shortDescription" pInputText></textarea>
      <label for="shortDescriptionIput">Krótki opis</label>
    </span>
    <span class="p-float-label">
      <input id="imageInput" type="text" formControlName="image" pInputText>
      <label for="imageInput">Zdjęcie</label>
    </span>
    <span class="p-float-label">
      <input id="portionsInput" type="text" formControlName="portions" pInputText>
      <label for="portionsInput">Liczba porcji</label>
    </span>
    <div class="p-grid">
      <div class="p-col">
        <div class="p-grid">
          <div class="p-col-7 durationTimeInputContainer">
            <span class="p-float-label withoutMargin">
              <input id="durationInput" type="number" min="0" max="300" formControlName="duration" pInputText>
              <label for="durationInput">Czas trwania [min]</label>
            </span>
          </div>
          <div class="p-col-5 durationTime">
            ({{recipeDetailsForm.value.duration * 1000 * 60| date:'HH':'UTC'}} h
            {{recipeDetailsForm.value.duration * 1000 * 60| date:'mm':'UTC'}} min)
          </div>
        </div>
      </div>
      <div class="p-col ">
        <p-slider formControlName="durationSlider" [min]="0" [max]="300" (onChange)="durationSliderChange($event)">
        </p-slider>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col">
        <div>
          <label for="recipeTypeInput" class="floatingLabel">Rodzaj</label>
          <app-recipe-type-select formControlName="recipeType" [multiple]="false" [allowAddNew]="true">
          </app-recipe-type-select>
        </div>
      </div>
      <div class="p-col p-fluid complexityLevelsContainer">
        <span class="p-float-label">
          <p-dropdown [options]="complexityLevels" optionLabel="name" formControlName="complexity"></p-dropdown>
          <label for="complexityInput">Poziom skomplikowania</label>
        </span>
      </div>
    </div>
    <span class="p-float-label"
      [ngClass]="{'error': (!recipeDetailsForm.controls.description.valid && recipeDetailsForm.controls.description.dirty)}">
      <span>Opis</span>
      <p-editor formControlName="description" [style]="{'height':'220px'}"></p-editor>
    </span>

  </form>
</p-fieldset>