html {
  font-size: 20px;
}

.dataContainer {
  height: 100%;
}

.controlWithLabel {
  margin-top: 15px;
  margin-bottom: 30px;
}

.floatingLabel {
  font-size: 12px;
  top: -0.2rem;
  margin-top: -.5rem;
  left: .5rem;
  position: relative;
  color: #6c757d;
}

.p-toast {
  max-width: 100%;
}

@media (max-width:1400px) {
  html {
    font-size: 16px;
  }
}
