<p-fieldset legend="Komentarze i oceny" styleClass="dataContainer">
  <div>
    <div *ngIf="recipe">
      <h4>Moja ocena:</h4>
      <div class="p-d-flex p-ai-center">
        <p-rating [(ngModel)]="recipe.userMark" [cancel]="false"></p-rating>
        <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded acceptButton"
          (click)="check()"></button>
      </div>
    </div>

    <h4>Komentarze:</h4>
    <div class="commentSection">
      <app-comment-view *ngFor="let comment of comments" [comment]="comment"
        (onEditClick)="onCommentEditClicked(comment)"></app-comment-view>
      <app-comment-form [recipe]="recipe"></app-comment-form>
    </div>
  </div>
</p-fieldset>
