.commentContainer {
  border: 1px solid #dee2e6;
  border-radius: 3px;
  margin-top: 20px;
  padding: 10px;

  .author {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .editButton {
    margin-left: 20px;
    opacity: 0;
    transition-duration: 200ms;
    transition-delay: 500ms;
    cursor: pointer;

    &:hover {
      color: #0d89ec;
    }
  }

  &:hover {
    .editButton {
      opacity: 1;
      transition-delay: 0ms;
    }
  }
}
