<div class="form-container">
  <div class="p-grid">
    <div class="p-col-12 p-md-6">
      <app-recipe-details-form></app-recipe-details-form>
    </div>
    <div class="p-col-12 p-md-6">
      <app-recipe-image></app-recipe-image>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12 p-md-6">
      <app-recipe-ingredients></app-recipe-ingredients>
    </div>
    <div class="p-col-12 p-md-6">
      <app-recipe-steps></app-recipe-steps>
    </div>
  </div>
  <div class="p-grid buttonRow">
    <div class="p-col p-fluid">
      <button pButton pRipple type="button" label="Powrót"
        class="p-button-raised p-button-danger p-button-text p-button-lg"></button>
    </div>
    <div class="p-col p-fluid">
      <button pButton pRipple label="Zapisz" class="p-button-lg" (click)="save()"></button>
    </div>
  </div>
</div>