<div class="recipeListItem p-grid vertical-container">
  <div class="p-col-12 p-lg-3 p-md-4 imgCol">
    <img [src]="recipe.image" />
  </div>
  <div class="p-col-12 p-lg-7 p-md-8 ">
    <h2>{{recipe.name}}</h2>
    <p>{{recipe.shortDescription}}</p>
    <div class="p-grid">
      <div class="p-col-6 p-md-4">
        <p>Czas trwania: {{recipe.duration}} min</p>
        <p>Rodzaj: {{getRecipeType(recipe.recipeType)}}</p>
      </div>
      <div class="p-col-6 p-md-4">
        <p>Poziom skomplikowania: {{recipe.complexity}}</p>
        <p>Ocena: {{recipe.mark}}</p>
      </div>
      <div class="p-col-12 p-md-4">
        <p>Składniki: <span *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}}, </span> </p>
      </div>
    </div>
  </div>
  <div class="p-col "></div>
  <div class="p-col-12 p-lg-2 p-as-center buttonCol ">
    <button pButton pRipple label="Zobacz" class="p-button-lg recipeDetailsButton"
      [routerLink]="'/recipe/'+recipe.id"></button>
  </div>
</div>