.recipeListItem {
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
  border: 1px #e9ecef solid;
  border-radius: 5px;

  .imgCol {
    max-width: 240px;
    margin-bottom: 10px;

    .recipeImage {
      transform: translate(0, 30%);

      img {
        margin: 10px;
        max-width: 200px;
      }
    }
  }

  .descriptionCol {
    width: 100%;
  }

  .recipeDetailsButton {
    margin-bottom: 20px;
  }
}

.buttonCol {
  width: 12%;
  margin: 10px;
  text-align: center;
}

@media screen and (max-width: 1500px) {
  .buttonCol {
    width: 12%;
  }

  ::ng-deep {
    .recipeDetailsButton {
      font-size: 1rem !important;
      padding: 0.5rem 1rem !important;
    }
  }
}


@media screen and (max-width: 991px) {
  .buttonCol {
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;

    .planButton {
      margin-left: 10px;
      transform: translate(0px, -30px);
    }
  }

  ::ng-deep {
    .recipeDetailsButton {
      width: 90%;
      font-size: 1.5rem !important;
      padding: 0.75rem 1.25rem !important;

    }
  }
}

@media screen and (max-width: 767px) {
  .recipeListItem {
    text-align: center;

    .imgCol {
      max-width: 100%;
    }
  }
}


@media screen and (max-width: 516px) {
  .recipeListItem {
    .recipeDetailsButton {
      margin-bottom: 50px;
    }
  }
}
