.recipeListItem {
  margin-top: 10px;
  border: 1px #e9ecef solid;
  border-radius: 5px;

  .imgCol {
    width: 280px;

    img {
      margin: 10px;
      max-height: 150px;
    }
  }

  .descriptionCol {
    width: 100%;
  }

  .buttonCol {
    width: 130px;
    margin: 10px;

  }
}