<p-fieldset legend="Lista składników" styleClass="dataContainer">
  <div class="p-fluid">
    <app-recipe-ingredient *ngFor="let ingredient of ingredients" [ingredient]="ingredient"
      (onEditClick)="onIngredientEditRequest(ingredient)" (onRemoveClick)="onIngredientRemoveRequest(ingredient)">
    </app-recipe-ingredient>
    <app-new-ingredient-form *ngIf="showNewIngredientForm" (closeForm)="toggleShowIngredientForm()">
    </app-new-ingredient-form>
    <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded toggleShowFormButton"
      *ngIf="!showNewIngredientForm" (click)="toggleShowIngredientForm()"></button>
  </div>
</p-fieldset>
