input {
  width: 100%;
}

span {
  margin-top: 10px;
}

.filtersContainer {
  margin-top: 10px;
  width: 350px;
  max-width: 88vw;

  ::ng-deep .p-panel {
    margin-top: 10px;
  }

  button {
    margin-top: 10px;
  }
}
