<div class="filtersContainer p-fluid">
  <button pButton pRipple label="Wyszukaj" class="p-button-lg" (click)="filter()"></button>

  <form [formGroup]="filtersForm">
    <p-panel header="Nazwa" [toggleable]="true" styleClass="controlContainer">
      <span class="p-float-label">
        <input id="nameInput" type="text" formControlName="name" pInputText>
        <label for="nameInput">Nazwa</label>
      </span>
    </p-panel>
    <p-panel header="Czas trwania" [toggleable]="true" class="duration" styleClass="controlContainer">
      <div class="p-grid">
        <div class="p-col">
          <span class="p-float-label">
            <input id="durationFromInput" type="number" formControlName="durationFrom" pInputText>
            <label for="durationFromInput">Od [min]</label>
          </span>
        </div>
        <div class="p-col">
          <span class="p-float-label">
            <input id="durationToInput" type="number" formControlName="durationTo" pInputText>
            <label for="durationToInput">Do [min]</label>
          </span>
        </div>
      </div>
      <p-slider formControlName="durationSlider" [range]="true" [min]="0" [max]="300"
        (onChange)="durationSliderChange($event)">
      </p-slider>
    </p-panel>
    <p-panel header="Poziom skomplikowania" [toggleable]="true" styleClass="controlContainer">
      <span class="p-float-label p-fluid">
        <p-multiSelect [options]="complexityLevels" formControlName="complexity" optionLabel="name" defaultLabel="">
        </p-multiSelect>
        <label for="complexityInput">Poziom skomplikowania</label>
      </span>
    </p-panel>
    <p-panel header="Rodzaj" [toggleable]="true" styleClass="controlContainer">
      <div>
        <label for="recipeTypeInput" class="floatingLabel">Rodzaj</label>
        <app-recipe-type-select formControlName="type" [multiple]="true" [allowAddNew]="false"></app-recipe-type-select>
      </div>
    </p-panel>
    <p-panel header="Wymagane składniki" [toggleable]="true" styleClass="controlContainer">
      <span class="p-float-label p-fluid">
        <p-multiSelect [options]="ingredients" formControlName="ingredients" optionLabel="name" defaultLabel="">
        </p-multiSelect>
        <label for="ingredientsInput">Składnik</label>
      </span>
    </p-panel>
  </form>

  <button pButton pRipple label="Wyszukaj" class="p-button-lg" (click)="filter()"></button>
</div>
