.recipeDetailsForm {
  ::ng-deep {
    .durationSlider {
      margin-top: 25px;
    }

    .error {
      color: red;

      .descriptionInput {
        border: 1px solid red;
        border-radius: 3px;
      }
    }
  }

  .durationContainer {
    padding-top: 0;
    margin-top: -10px;

    .durationTime {
      margin-top: 15px;
    }

    .durationTimeInputContainer {
      padding-top: 0;

      .controlWithLabel {
        margin-bottom: 0;
      }
    }
  }

  .recieTypeContainer {
    height: 80px;
    margin-top: -10px;

    .complexityLevelsContainer {
      margin-top: 6px;
    }
  }

  textarea {
    resize: vertical;
  }
}

@media screen and (max-width: 1200px) {
  ::ng-deep {
    .durationSlider {
      transform: translate(0, -25px);
    }
  }
}
