<div class="userRegisterForm">
  <p-fieldset legend="Rejestracja">
    <form [formGroup]="userRegisterForm" class="detailsForm">
      <div class="controlContainer">
        <span class="p-float-label">
          <input id="usernameInput" type="text" formControlName="username" pInputText>
          <label for="usernameInput">Nazwa użytkownika</label>
        </span>
        <small *ngIf="showHelp && userRegisterForm.controls.username.invalid" id="username-help" class="p-invalid">Login
          jest zbyt krótki (min 3 znaki).</small>
      </div>
      <div class="controlContainer">
        <span class="p-float-label">
          <input id="passwordInput" type="password" formControlName="password" pInputText>
          <label for="passwordInput">Hasło</label>
        </span>
        <small *ngIf="showHelp && userRegisterForm.controls.password.invalid" id="password-help" class="p-invalid">Hasło
          jest zbyt słabe (powinno zawierać co najmniej 8 znaków, w tym małe i duże litery oraz liczby i znaki
          specjalne).</small>
      </div>
      <div class="controlContainer">
        <span class="p-float-label">
          <input id="passwordConfirmationInput" type="password" formControlName="passwordConfirmation" pInputText>
          <label for="passwordConfirmationInput">Powtórz hasło</label>
        </span>
        <small *ngIf="showHelp && userRegisterForm.controls.passwordConfirmation.invalid" id="passwordConfirmation-help"
          class="p-invalid">Hasła nie są takie same.</small>
      </div>
      <div class="p-d-flex p-jc-between">
        <button pButton pRipple type="button" label="Zaloguj się" [routerLink]="'/login'"
          class="p-button-raised p-button-text p-button-lg"></button>
        <button pButton pRipple label="Zarejestruj" type="submit" class="p-button-lg" (click)="register()"></button>
      </div>
    </form>
  </p-fieldset>
</div>