.recipeNameInputContainer {
  margin-top: 20px;
}

.treeContainer {
  ::ng-deep .p-tree {
    max-height: 300px;
  }
}


.buttonsContainer {
  margin: 10px;
  float: right;

  button {
    margin-right: 10px;
  }
}