@media (min-width: 960px) {
  ::ng-deep {
    .toRightWithUser {
      position: absolute !important;
      top: 20px;
      right: 20px;
    }

    .toRightWithoutUser {
      left: calc(100vw - 605px);
    }

    .p-submenu-list {
      width: 150px !important;
      right: 20px;
      top: 70px;
      position: absolute;
      z-index: 20 !important;
    }

    .p-menubar .p-menuitem {
      position: unset !important;
    }
  }
}

@media (min-width: 960px) and (max-width:1400px) {
  ::ng-deep {
    .toRightWithoutUser {
      left: calc(100vw - 490px);
    }
    .p-submenu-list {
      top: 60px;
    }
  }
}
