@media (min-width: 960px) {
  ::ng-deep {
    .toRightFull {
      left: calc(100vw - 850px);
    }

    .p-submenu-list {
      width: 120px !important;
      left: calc(100vw - 850px);
    }
  }
}

@media (max-width:1400px) {
  ::ng-deep {
    .toRightFull {
      left: calc(100vw - 690px);
    }

    .p-submenu-list {
      left: calc(100vw - 690px);
    }
  }
}
