<form [formGroup]="newIngredientForm" class="newIngredientForm">
  <div class="p-grid">
    <div class="p-col-12 p-sm-9 p-md-12 p-lg-9 formColumn">
      <div class="p-grid">
        <div class="p-col">
          <span class="p-float-label controlWithLabel">
            <input id="quantityInput" type="text" formControlName="quantity" pInputText>
            <label for="quantityInput">Ilość</label>
          </span>
        </div>
        <div class="p-col">
          <span class="p-float-label controlWithLabel">
            <p-autoComplete formControlName="name" [delay]="0" [suggestions]="suggestedIngredients" field="name"
              (completeMethod)="searchIngredient($event)" (onSelect)="onIngredientSelect($event)">
              <ng-template let-ingredient pTemplate="selectedIngredient">
                <span style="font-size:18px">{{ingredient.name}} </span>[{{ingredient.unit}}]
              </ng-template>
            </p-autoComplete>
            <label for="suggestedIngredientsInput">Nazwa</label>
          </span>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col">
          <span class="p-float-label controlWithLabel">
            <input id="unitInput" type="text" formControlName="unit" pInputText>
            <label for="unitInput">Jednostka</label>
          </span>
        </div>
        <div class="p-col">
          <span class="p-float-label fullWidth controlWithLabel">
            <p-toggleButton onLabel="Wymagane" offLabel="Niewymagane" formControlName="required" class="fullWidth">
            </p-toggleButton>
          </span>
        </div>
      </div>
    </div>
    <div class="p-col-12 p-sm-3 p-md-12 p-lg-3">
      <div class="p-d-flex p-ai-center p-jc-around buttonsContainer">
        <button pButton pRipple type="button" icon="pi pi-times"
          class="p-button-rounded p-button-danger p-button-outlined" (click)="close()"></button>
        <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded "
          (click)="onAddIngredient()"></button>
      </div>
    </div>
  </div>
</form>