.newIngredientForm {
  border: 1px solid #dee2e6;
  margin-top: 20px;

  .controlWithLabel {
    margin-top: 25px;
    margin-bottom: 0;
  }

  .formColumn {
    padding-left: 15px;
    padding-right: 15px;
  }

  .buttonsContainer {
    height: 100%;
    max-width: 100px;
    margin-left: auto;
  }

  h5 {
    margin: 10px;
  }
}
